{{!-- CARD --}}
<div class="row">
    {{!-- Tổng thu nhập --}}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border shadow h-80 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tổng thu nhập </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1000000đ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!--  Giá vốn --}}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-80 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Giá vốn</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">500000đ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Tiền lãi --}}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-80 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tiền lãi</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">500000đ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Tổng lợi nhuận --}}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card  border-left-warning shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Tổng lợi nhuận</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">400000đ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- BODY --}}
<ul class='nav nav-tabs'>
    <li class='nav-item'>
        <a
            class='nav-link active'
            data-bs-toggle='tab'
            href='#customers'
        >Khách hàng</a>
    </li>
    <li class='nav-item'>
        <a
            class='nav-link'
            data-bs-toggle='tab'
            href='#products'
        >Sản phẩm</a>
    </li>
    <li class='nav-item'>
        <a
            class='nav-link'
            data-bs-toggle='tab'
            href='#suppliers'
        >Nhà sản xuất</a>
    </li>
    <li class='nav-item'>
        <a
            class='nav-link'
            data-bs-toggle='tab'
            href='#orders'
        >Orders</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' data-bs-toggle='tab' href='#others'>Others</a>
    </li>
</ul>

<div class='tab-content bg-body shadow-sm'>
    <div class='tab-pane container active' id='customers'>
        <small>
            <table class='table table-hover text-center align-middle'>
                <thead class="text-center text-uppercase">
                    <tr>
                        {{#each customers.[0]}}
                            <th>{{@key}}</th>
                        {{/each}}
                            <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each customers}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.age}}</td>
                            <td>{{this.gender}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                            <td>{{moment this.updated_at format='DD/MM/YYYY HH:mm:ss'}}</td>

                            <td>
                                <div class="d-grid gap-2">
                                    <a href="/editcustomer/{{this.id}}" type="button" class="btn btn-primary btn-sm">Edit</a> 
                                    <a href="/deletecustomer/{{this.id}}" type="button" class="btn btn-danger btn-sm">Delete</a> 
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </small>
    </div>
    <div class='tab-pane container fade' id='products'>           
        <small>
            <table class='table table-hover text-center  align-middle'>
                <thead class="text-center text-uppercase">
                    <tr>
                        {{#each products.[0]}}
                            <th>{{@key}}</th>
                        {{/each}}
                            <th>Action</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    {{#each products}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.catalog}}</td>
                            <td>{{this.supplier_id}}</td>
                            <td>{{moment this.mgf format='DD/MM/YYYY'}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.discount}}</td>
                            <td>{{this.quantity}}</td>
                            <td>Mô tả</td>
                            <td><a href="{{this.image}}">Link</a></td>
                            <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                            <td>{{moment this.updated_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                            <td>
                                <div class="d-grid gap-2">
                                    <a href="/editproduct/{{this.id}}" type="button" class="btn btn-primary btn-sm">Edit</a> 
                                    <a href="/deleteproduct/{{this.id}}" type="button" class="btn btn-danger btn-sm">Delete</a> 
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>   
            </table>
        </small>
    </div>
    <div class='tab-pane container fade' id='suppliers'>
        <small>
            <table class='table table-hover text-center align-middle'>
                <thead class="text-center text-uppercase">
                    <tr>
                        {{#each suppliers.[0]}}
                            <th>{{@key}}</th>
                        {{/each}}
                            <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each suppliers}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.address}}</td>
                            <td>Mô tả</td>
                            <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                            <td>{{moment this.updated_at format='DD/MM/YYYY HH:mm:ss'}}</td>

                            <td>
                                <div class="d-grid gap-2">
                                    <a href="/editsupplier/{{this.id}}" type="button" class="btn btn-primary btn-sm">Edit</a> 
                                    <a href="/deletesupplier/{{this.id}}" type="button" class="btn btn-danger btn-sm">Delete</a> 
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </small>
    </div>
    <div class='tab-pane container fade' id='Orders'>
        
    </div>
    <div class='tab-pane container fade' id='Others'>
    </div>
</div>
