<div class="p-3 bg-body rounded shadow-sm">
    <h3><strong>Delete Product</strong></h3>
    {{#each productinfo}}
    {{!-- Input --}}
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class='mt-4'>
                <form method='POST' action='/removeproduct/{{this.id}}'>
                    <div class="row">
                        <div class='col-9'>
                            <div class="row">
                                <div class='col-3 mb-3'>
                                    <label for='id-input' class='form-label'>ID:</label>
                                    <input
                                        type='text'
                                        name='id'
                                        class='form-control'
                                        id='id-input'
                                        value = {{this.id}}
                                        disabled
                                    />
                                </div>
                                <div class='col-6 mb-3'>
                                    <label for='name-input' class='form-label'>Tên sản phẩm:</label>
                                    <input
                                        type='text'
                                        name='name'
                                        class='form-control'
                                        id='name-input'
                                        value = '{{this.name}}'
                                        disabled
                                    />
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='catalog-input' class='form-label'>Loại sản phẩm:</label>
                                    <input name='catalog' value = '{{this.catalog}}' class='form-control' list="catalogOptions" id='catalog-input' disabled/>
                                    <datalist id="catalogOptions"></datalist>
                                </div>
                                <div class="col-3">
                                    <label for='supplier-input' class='form-label active'>Nhà sản xuất:</label>
                                    <input name='supplier' value = '{{this.supplier_id}}' class="form-control" list="supplierOptions" id="supplier-input" disabled>
                                    <datalist id="supplierOptions"></datalist>
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='mgf-input' class='form-label'>Ngày sản xuất:</label>
                                    <input
                                        type='date'
                                        name='mgf'
                                        class='form-control'
                                        id='mgf-input'
                                        {{#if this.mgf}}
                                           value = '{{moment this.mgf format='YYYY-MM-DD'}}'
                                        {{/if}}
                                        disabled
                                    />
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='base_price-input' class='form-label'>Giá nhập vào:</label>
                                    <div class="input-group flex-nowrap">   
                                        <input
                                            type='number'
                                            name='base_price'
                                            class='form-control'
                                            id='base_price-input'
                                            value = {{this.base_price}}
                                            disabled
                                        />
                                        <span class="input-group-text" id="addon-wrapping">đ</span>
                                    </div>
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='price-input' class='form-label'>Giá bán:</label>
                                    <div class="input-group flex-nowrap">   
                                        <input
                                            type='text'
                                            name='price'
                                            class='form-control'
                                            id='price-input'
                                            value = {{this.price}}
                                            disabled
                                        />
                                        <span class="input-group-text" id="addon-wrapping">đ</span>
                                    </div>
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='discount-input' class='form-label'>Giảm giá:</label>
                                    <div class="input-group flex-nowrap">
                                        <input
                                            type='number'
                                            name='discount'
                                            class='form-control'
                                            id='discount-input'
                                            placeholder='10'
                                            value = {{this.discount}}
                                            disabled
                                        />
                                        <span class="input-group-text" id="addon-wrapping">%</span>
                                    </div>
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='quantity-input' class='form-label'>Số lượng:</label>
                                    <input
                                        type='number'
                                        name='quantity'
                                        class='form-control'
                                        id='quantity-input'
                                        value = {{this.quantity}}
                                        disabled
                                    />
                                </div>
                                <div class='col-8 mb-3'>
                                    <label for='image-input' class='form-label'>Link hình ảnh sản phẩm:</label>
                                    <input
                                        type='text'
                                        name='image'
                                        class='form-control'
                                        id='image-input'
                                        value = '{{this.image}}'
                                        disabled
                                    />
                                </div>
                                <div class='col-12 mb-3'>
                                    <label for='description-input' class='form-label'>Mô tả sản phẩm:</label>
                                    <textarea
                                        type='text'
                                        name='description'
                                        class='form-control'
                                        id='description-input'
                                        rows="3"
                                        disabled
                                    >{{this.description}}</textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type='submit' class='btn btn-danger'>Xoá dữ liệu</button>
                                <!-- Button trigger modal 1-->
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalQuery1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                    </svg>
                                    </button>
                            </div>
                        </div>
                        <div class='col-3  pt-4'>
                            <div class="card border-danger mb-3" style="max-width: 18rem;">
                                <h6 class="card-header text-danger">Chú ý</h6>
                                <div class="card-body text-danger">
                                    <p class="card-text">Khi nhấn <strong>Xoá dữ liệu</strong> thì sản phẩm có <strong>ID:{{this.id}}</strong> sẽ bị xoá</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    {{/each}}
</div>


<!-- Modal 1-->
<div class="modal fade modal-xl" id="ModalQuery1" tabindex="-1" aria-labelledby="ModalQuery1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalQuery1Label">Delete product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre><code class="postgresql" style="font-size: 18px;">
DELETE FROM products WHERE id = $1
        </code></pre>
      </div>
    </div>
  </div>
</div>