<div class="p-3 bg-body rounded shadow-sm">
    <h3><strong>Edit Order</strong></h3>
    {{#each orderinfo}}
    {{!-- Input --}}
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class='mt-4'>
                <form method='POST' action='/updateorder/{{this.id}}'>
                    <div class="row">
                        <div class='col-9'>
                            <div class="row">
                                <div class='col-2 mb-3'>
                                    <label for='id-input' class='form-label'>ID:</label>
                                    <input
                                        type='text'
                                        name='id'
                                        class='form-control'
                                        id='id-input'
                                        value = "{{this.id}}"
                                        disabled
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='customer_id-input' class='form-label'>ID khách hàng:</label>
                                    <input
                                        type='text'
                                        name='customer_id'
                                        class='form-control'
                                        id='customer_id-input'
                                        value = {{this.customer_id}}
                                        disabled
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='product_id-input' class='form-label'>ID sản phẩm:</label>
                                    <input
                                        type='text'
                                        name='product_id'
                                        class='form-control'
                                        id='product_id-input'
                                        value = {{this.product_id}}
                                        disabled
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='quantity-input' class='form-label'>Số lượng:</label>
                                    <input
                                        type='text'
                                        name='quantity'
                                        class='form-control'
                                        id='quantity-input'
                                        value = {{this.quantity}}
                                        disabled
                                    />
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='amount-input' class='form-label'>Tổng tiền:</label>
                                    <input
                                        type='text'
                                        name='amount'
                                        class='form-control'
                                        id='amount-input'
                                        value = {{this.amount}}
                                        disabled
                                    />
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='status_paymentSelect' class='form-label'>Trạng thái thanh toán:</label>
                                    <select id="status_paymentSelect" name="status_payment" class="form-select" disabled>
                                        <option value = 0 {{#eq this.status_payment 0}}selected{{/eq}}>
                                            Chưa thanh toán
                                        </option>
                                        <option value=1 {{#eq this.status_payment 1}}selected{{/eq}}>
                                            Đã thanh toán
                                        </option>
                                        <option value=2 {{#eq this.status_payment 2}}selected{{/eq}}>
                                            Huỷ thanh toán
                                        </option>
                                    </select>
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='status_shipmentSelect' class='form-label'>Trạng thái giao hàng:</label>
                                    <select id="status_shipmentSelect" name="status_shipment" class="form-select" disabled>
                                        <option value =0 {{#eq this.status_shipment 0}}selected{{/eq}}>
                                            Đang xử lý
                                        </option>
                                        <option value=1 {{#eq this.status_shipment 1}}selected{{/eq}}>
                                            Đang giao hàng
                                        </option>
                                        <option value=2 {{#eq this.status_shipment 2}}selected{{/eq}}>
                                            Đã giao hàng
                                        </option>
                                        <option value=3 {{#eq this.status_shipment 3}}selected{{/eq}}>
                                            Huỷ giao hàng
                                        </option>
                                    </select>
                                </div>
                                <div class='col-12 mb-3'>
                                    <label for='address-input' class='form-label'>Địa chỉ:</label>
                                    <input
                                        type='text'
                                        name='address'
                                        class='form-control'
                                        id='address-input'
                                        value = '{{this.address}}'
                                    />
                                </div>
                            </div>
                            <div class="text-center">
                                <button type='submit' class='btn btn-primary'>Sửa địa chỉ</button>
                            </div>
                        </div>
                        <div class='col-3  pt-4'>
                            <div class="card border-warning mb-3" style="max-width: 18rem;">
                                <h6 class="card-header text-warning">Chú ý</h6>
                                <div class="card-body text-warning">
                                    <p class="card-text">Chỉ chỉnh sửa khi đơn hàng <strong>đang xử lý</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    {{/each}}
</div>