<div class="accordion" id="order">
    {{!-- Search Order --}}
    
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            <strong>Search order</strong>
            </button>
        </h2>
        <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{!-- Input --}}
                <form method='POST' action='/searchorder'>
                    <div class="row">
                        <div class='col-9'>
                            <div class="row">
                                <div class='col-2 mb-3'>
                                    <label for='search_id-input' class='form-label'>ID đơn hàng:</label>
                                    <input
                                        type='text'
                                        name='search_id'
                                        class='form-control'
                                        id='search_id-input'
                                        placeholder='123'
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='search_customer_id-input' class='form-label'>ID khách hàng:</label>
                                    <input
                                        type='text'
                                        name='search_customer_id'
                                        class='form-control'
                                        id='search_customer_id-input'
                                        placeholder='123'
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='search_product_id-input' class='form-label'>ID sản phẩm:</label>
                                    <input
                                        type='text'
                                        name='search_product_id'
                                        class='form-control'
                                        id='search_product_id-input'
                                        placeholder='123'
                                    />
                                </div>
                                <div class='col-2 mb-3'>
                                    <label for='search_quantity-input' class='form-label'>Số lượng:</label>
                                    <input
                                        type='number'
                                        name='search_quantity'
                                        class='form-control'
                                        id='search_quantity-input'
                                        placeholder='1'
                                    />
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='search_amount-input' class='form-label'>Giá đơn hàng:</label>
                                    <div class="input-group flex-nowrap">   
                                        <input
                                            type='number'
                                            name='search_amount'
                                            class='form-control'
                                            id='search_amount-input'
                                            placeholder='23000000'
                                        />
                                        <span class="input-group-text" id="addon-wrapping">đ</span>
                                    </div>
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='paymentSelect' class='form-label'>Thanh toán:</label>
                                    <select id="paymentSelect" name="search_status_payment" class="form-select">
                                        <option selected>Chọn trạng thái</option>
                                        <option value="0">Chưa thanh toán</option>
                                        <option value="1">Đã thanh toán</option>
                                        <option value="2">Huỷ thanh toán</option>
                                    </select>
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='shipmentSelect' class='form-label'>Vận chuyển:</label>
                                    <select id="shipmentSelect" name="search_status_shipment" class="form-select">
                                        <option selected>Chọn trạng thái</option>
                                        <option value="0">Đang xử lý</option> 
                                        <option value="1">Đang giao hàng</option>
                                        <option value="2">Đã giao hàng</option>
                                        <option value="3">Huỷ giao hàng</option>
                                    </select>
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='search_created_at-input' class='form-label'>Ngày tạo:</label>
                                    <input
                                        type='date'
                                        name='search_created_at'
                                        class='form-control'
                                        id='search_created_at-input'
                                    />
                                </div>
                            </div>
                            <div class="text-center">
                                <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
                            </div>
                        </div>
                        <div class='col-3'>
                            <div class="card border-warning mb-3" style="max-width: 18rem;">
                                <h6 class="card-header text-warning">Chú ý</h6>
                                <div class="card-body text-warning">
                                    <div class="card-text">
                                        <ul>
                                            <li>Tìm kiếm không phân biệt chữ hoa và thường</li>
                                            <li><strong>Chỉnh sửa</strong> và <strong>Xoá</strong> sản phẩm ở bảng dưới</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{!-- Table --}}
                {{#if resultSearch}}
                    <small>
                    <table class='table table-hover text-center align-middle'>
                        <thead class="text-center text-uppercase">
                            <tr>
                                {{#each resultSearch.[0]}}
                                    <th>{{@key}}</th>
                                {{/each}}
                                    <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">
                            {{#each resultSearch}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.customer_id}}</td>
                                    <td>{{this.product_id}}</td>
                                    <td>{{this.address}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{this.amount}}</td>
                                    <td>
                                        {{#eq this.status_payment 0}}
                                            <span class='badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill'>
                                                Chưa thanh toán
                                            </span>
                                        {{else}}
                                            {{#eq this.status_payment 1}}
                                                <span class='badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill'>
                                                    Đã thanh toán
                                                </span>
                                            {{else}}
                                                <span class='badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill'>
                                                    Huỷ thanh toán
                                                </span>
                                            {{/eq}}
                                        {{/eq}}
                                    </td>
                                    <td>
                                        {{#eq this.status_shipment 0}}
                                            <span
                                                class='badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill'
                                            >Đang xử lý</span>
                                        {{else}}
                                            {{#eq this.status_shipment 1}}
                                                <span
                                                    class='badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill'
                                                >Đang giao hàng</span>
                                            {{else}}
                                                {{#eq this.status_shipment 2}}
                                                    <span
                                                        class='badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill'
                                                    >Đã giao hàng</span>
                                                {{else}}
                                                    <span
                                                        class='badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill'
                                                    >Huỷ giao hàng</span>
                                                {{/eq}}
                                            {{/eq}}
                                        {{/eq}}
                                    </td>
                                    <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                                    <td>
                                        {{#eq this.status_shipment 0}}<a href="/editorder/{{this.id}}" type="button" class="btn btn-primary btn-sm" disabled>Edit</a>{{/eq}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>   
                    </table>
                    </small>                
                {{else}}
                    <p>No results found.</p>
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- Add order --}}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Add order</strong>
            </button>
        </h2>
        {{!-- Input --}}
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class='mt-4'>
                    <form method='POST' action='/addorder'>
                    <div class="row">
                        <div class='col-9'>
                            <div class="row">
                                <div class='col-2 mb-3'>
                                    <label for='id-input' class='form-label'>ID đơn hàng:</label>
                                    <input
                                        type='text'
                                        name='id'
                                        class='form-control'
                                        id='id-input'
                                        disabled
                                    />
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='phone-input' class='form-label'>Số điện thoại khách hàng:</label>
                                    <input
                                        type='number'
                                        name='phone'
                                        class='form-control'
                                        id='phone-input'
                                        placeholder='0987654321'
                                    />
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='product_id-input' class='form-label'>ID sản phẩm:</label>
                                    <input
                                        type='number'
                                        name='product_id'
                                        class='form-control'
                                        id='product_id-input'
                                        placeholder='123'
                                    />
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='quantity-input' class='form-label'>Số lượng:</label>
                                    <input
                                        type='number'
                                        name='quantity'
                                        class='form-control'
                                        id='quantity-input'
                                        placeholder='1'
                                    />
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='paymentSelect' class='form-label'>Thanh toán:</label>
                                    <select id="paymentSelect" name="status_payment" class="form-select">
                                        <option selected>Chọn trạng thái</option>
                                        <option value="0">Chưa thanh toán</option>
                                        <option value="1">Đã thanh toán</option>
                                        <option value="2">Huỷ thanh toán</option>
                                    </select>
                                </div>
                                <div class='col-8 mb-3'>
                                    <label for='address-input' class='form-label'>Địa chỉ nhận hàng:</label>
                                    <input
                                        type='text'
                                        name='address'
                                        class='form-control'
                                        id='address-input'
                                        placeholder='Bách Khoa, Quận Hai Bà Chưng, Hà Nội'
                                    />
                                </div>
                            </div>
                            <div class="text-center">
                                <button type='submit' class='btn btn-primary'>Thêm đơn hàng</button>
                            </div>
                        </div>
                        <div class='col-3  pt-4'>
                            <div class="card border-warning mb-3" style="max-width: 18rem;">
                                <h6 class="card-header text-warning">Chú ý</h6>
                                <div class="card-body text-warning">
                                    <div class="card-text">
                                        <ul>
                                            <li>nghiên cứu đưa ra trang admin để chỉnh sửa/duyệt đơn hàng</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>

            </div>
        </div>
    </div>

    {{!-- Table of order --}}
    <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <strong>Order Info</strong>
        </button>
    </h2>
    {{!-- Table --}}
    <div id="collapseTwo" class="accordion-collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class='table-responsive mt-4'>
                <table class='table table-hover text-center align-middle'>
                    <thead class="text-center text-uppercase">
                        <tr>
                            {{#each allOrder.[0]}}
                                <th>{{@key}}</th>
                            {{/each}}
                                <th>Action</th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                        {{#each allOrder}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.customer_id}}</td>
                                <td>{{this.product_id}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.amount}}</td>
                                <td>
                                    {{#eq this.status_payment 0}}
                                        <span class='badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill'>
                                            Chưa thanh toán
                                        </span>
                                    {{else}}
                                        {{#eq this.status_payment 1}}
                                            <span class='badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill'>
                                                Đã thanh toán
                                            </span>
                                        {{else}}
                                            <span class='badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill'>
                                                Huỷ thanh toán
                                            </span>
                                        {{/eq}}
                                    {{/eq}}
                                </td>
                                <td>
                                    {{#eq this.status_shipment 0}}
                                        <span
                                            class='badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill'
                                        >Đang xử lý</span>
                                    {{else}}
                                        {{#eq this.status_shipment 1}}
                                            <span
                                                class='badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill'
                                            >Đang giao hàng</span>
                                        {{else}}
                                            {{#eq this.status_shipment 2}}
                                                <span
                                                    class='badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill'
                                                >Đã giao hàng</span>
                                            {{else}}
                                                <span
                                                    class='badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill'
                                                >Huỷ giao hàng</span>
                                            {{/eq}}
                                        {{/eq}}
                                    {{/eq}}
                                </td>
                                <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                                <td>
                                    {{#eq this.status_shipment 0}}<a href="/editorder/{{this.id}}" type="button" class="btn btn-primary btn-sm" disabled>Edit</a>{{/eq}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>   
                </table>  
            </div>
        </div>
    </div>
    </div>
</div>


