<div class="container justify-content-center align-items-center">
	<div class="row">
		{{!-- Best lợi nhuận 1 --}}
		<div class="col-4 p-1 pt-3">
			<div class="card text-center border-info text-info">
			<div class="card-header">
				<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #0dcaf0;" viewBox="0 0 576 512">
					<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
				</svg>
				<strong>Top 2 lợi nhuận</strong>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<strong>Nhà sản xuất</strong>
				</h5>
				<p class="card-text">Địa chỉ ở Việt Nam đấy thì sao nào</p>
				<div class="row">
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-info-emphasis bg-info-subtle border border-info-subtle rounded-2">
							Sản phẩm
						</small>  
						<p class="pt-2 m-0">8797</p>
					</div>
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-info-emphasis bg-info-subtle border border-info-subtle rounded-2">
							Đơn hàng
						</small>  
						<p class="pt-2 m-0">124</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-info-subtle">
				Tổng lợi nhuận: 19000000 VND
			</div>
			</div>
		</div>
		{{!-- Best lợi nhuận 2 --}}
		<div class="col-4 p-1">
			<div class="card text-center border-warning text-warning">
			<div class="card-header pt-3 pb-3">
				<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #ffc107;" viewBox="0 0 576 512">
					<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
				</svg>
				<strong>Top 1 lợi nhuận</strong>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<strong>Nhà sản xuất</strong>
				</h5>
				<p class="card-text">Địa chỉ ở Việt Nam đấy thì sao nào</p>
				<div class="row">
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">
							Sản phẩm
						</small>  
						<p class="pt-2 m-0">8797</p>
					</div>
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">
							Đơn hàng
						</small>  
						<p class="pt-2 m-0">124</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-warning-subtle">
				Tổng lợi nhuận: 19000000 VND
			</div>
			</div>
		</div>
		{{!-- Best lợi nhuận 3 --}}
		<div class="col-4 p-1 pt-3">
			<div class="card text-center border-light text-light">
			<div class="card-header">
				<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #fff;" viewBox="0 0 576 512">
					<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
				</svg>
				<strong>Top 3 lợi nhuận</strong>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<strong>Nhà sản xuất</strong>
				</h5>
				<p class="card-text">Địa chỉ ở Việt Nam đấy thì sao nào</p>
				<div class="row">
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-light-emphasis bg-light-subtle border border-light-subtle rounded-2">
							Sản phẩm
						</small>  
						<p class="pt-2 m-0">8797</p>
					</div>
					<div class="col-6">
						<small class="d-inline-flex px-2 py-1 fw-semibold text-light-emphasis bg-light-subtle border border-light-subtle rounded-2">
							Đơn hàng
						</small>  
						<p class="pt-2 m-0">124</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-light-subtle">
				Tổng lợi nhuận: 19000000 VND
			</div>
			</div>
		</div>
	</div>
</div>

{{!-- Top 3 Best selling Product--}}
<div class='container mt-1 my-3'>
    <div class='row d-flex justify-content-center'>
        <div class='col-12'>
            <div class='row p-2 border rounded border border-warning-subtle bg-dark-subtle'>
                <div class='col-3 mt-1 align-content-center'>
                    <div class='row'>
                        <div class='col-6 align-items-center align-content-center text-center'>
							<h6 class="text-warning">Top bán chạy</h6>
                            <svg xmlns='http://www.w3.org/2000/svg' class='bi' width='48' height='48' fill='currentColor' style="color: #ffc107;" viewBox="0 0 576 512">
								<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
							</svg>
							<div class='text-warning mt-2'>ID#123</div>
                            <p class='text-warning'><strong>15 sản phẩm</small></strong></p>
                        </div>
                        <div class='col-6 border-start'>
                            <img
                                class='img-fluid img-responsive'
                                src='https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/10/12/m34.png'
                            />
                        </div>
                    </div>
                </div>
                <div class='col-4 align-content-center mt-1 border-end'>
                    <h5>Samsung ABCD{{this.name}}</h5>
                    <div class='d-flex flex-row align-items-center'>
                        <h5 class='text-danger me-2'><b>200000{{this.price}}₫</b></h5>
						<small class="d-inline-flex mb-3 px-2 py-1 me-2 fw-semibold text-danger-emphasis bg-danger-subtle rounded-2">-20%</small>  
                    	<div class='text-secondary'><small><s>Giá gốc: 33.990.000₫</s></small></div>
					</div>
                    <div class='text-secondary'><small>Nhà sản xuất: {{this.supplier_name}}</small></div> 
                    <div class='text-secondary'><small>Năm sản xuất: {{moment this.mgf format='DD/MM/YYYY'}}</small></div>
                </div>
				<div class="col-5">
					<div class="d-flex flex-row align-items-center">
						<div class="p-1 me-2">
							<small class="d-inline-flex px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle rounded-2">Top 2</small>  
						</div>
						<div class="p-1 text-center border-start">
							<div class='text-warning mt-2'>ID#123</div>
							<p class='text-warning'><strong>15 sản phẩm</small></strong></p>
						</div>
						<div class="p-1">
							<img
								class='img-fluid img-responsive' style="max-width: 50px"
								src='https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/10/12/m34.png'
							/>
						</div>
						<div class="p-1">
							<strong>Samsung ABCD{{this.name}}</strong>
							<div class='d-flex flex-row align-items-center'>
								<h6 class='text-danger me-2'><b>200000{{this.price}}₫</b></h6>
								<small class="d-inline-flex mb-2 px-2 py-1 me-2 fw-semibold text-danger-emphasis bg-danger-subtle rounded-2">-20%</small>  
                    		</div>
						</div>
					</div>
					<hr>
					<div class="d-flex flex-row align-items-center">
						<div class="p-1 me-2">
							<small class="d-inline-flex px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle rounded-2">Top 3</small>  
						</div>
						<div class="p-1 text-center border-start">
							<div class='text-warning mt-2'>ID#123</div>
							<p class='text-warning'><strong>15 sản phẩm</small></strong></p>
						</div>
						<div class="p-1">
							<img
								class='img-fluid img-responsive' style="max-width: 50px"
								src='https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/10/12/m34.png'
							/>
						</div>
						<div class="p-1">
							<strong>Samsung ABCD{{this.name}}</strong>
							<div class='d-flex flex-row align-items-center'>
								<h6 class='text-danger me-2'><b>200000{{this.price}}₫</b></h6>
								<small class="d-inline-flex mb-2 px-2 py-1 me-2 fw-semibold text-danger-emphasis bg-danger-subtle rounded-2">-20%</small>  
                    		</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<div class='container mt-1 my-3'>
    <div class='row d-flex justify-content-center'>
        <div class='col-12'>
            <div class='row p-2 border rounded border border-warning-subtle bg-dark-subtle'> 
				<strong>Tri ân khách hàng</strong>
				<table class='table table-hover text-center  align-middle'>
                <thead class="text-center text-uppercase">
                    <tr>
                        {{#each topCustomers.[0]}}
							<th>Thứ hạng</th>
                            <th>ID</th>
                            <th>Khách hàng</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Tổng tiền</th>
                        {{/each}}
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                        <tr>
                            <td>
								<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #ffc107;" viewBox="0 0 576 512">
									<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
								</svg>
								{{topCustomers.[0].rank_by_spend}}
							</td>
                            <td>{{topCustomers.[0].customer_id}}</td>
                            <td>{{topCustomers.[0].customer_name}}</td>
                            <td>{{topCustomers.[0].customer_email}}</td>
                            <td>{{topCustomers.[0].customer_phone}}</td>
                            <td>{{topCustomers.[0].total_spend}}</td>
                        </tr>
						<tr>
                            <td>
								<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #C0C0C0" viewBox="0 0 576 512">
									<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
								</svg>
								{{topCustomers.[1].rank_by_spend}}
							</td>
                            <td>{{topCustomers.[1].customer_id}}</td>
                            <td>{{topCustomers.[1].customer_name}}</td>
                            <td>{{topCustomers.[1].customer_email}}</td>
                            <td>{{topCustomers.[1].customer_phone}}</td>
                            <td>{{topCustomers.[1].total_spend}}</td>
                        </tr>
						<tr>
                            <td>
								<svg xmlns='http://www.w3.org/2000/svg' class='bi' width='16' height='16' fill='currentColor' style="color: #964B00;" viewBox="0 0 576 512">
									<path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/>
								</svg>
								{{topCustomers.[2].rank_by_spend}}
							</td>
                            <td>{{topCustomers.[2].customer_id}}</td>
                            <td>{{topCustomers.[2].customer_name}}</td>
                            <td>{{topCustomers.[2].customer_email}}</td>
                            <td>{{topCustomers.[2].customer_phone}}</td>
                            <td>{{topCustomers.[2].total_spend}}</td>
                        </tr>
						{{#eachFromIndex topCustomers 3}}
						<tr>
                            <td>{{this.rank_by_spend}}</td>
                            <td>{{this.customer_id}}</td>
                            <td>{{this.customer_name}}</td>
                            <td>{{this.customer_email}}</td>
                            <td>{{this.customer_phone}}</td>
                            <td>{{this.total_spend}}</td>
                        </tr>
						{{/eachFromIndex}}
                </tbody>   
            </table>
            </div>
        </div>
    </div>
</div>
