<div class="accordion" id="supplier">
    {{!-- Search supplier --}}
    
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            <strong>Search supplier</strong>
            </button>
        </h2>
        <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{!-- Input --}}
                <form method='POST' action='/searchsupplier'>
                    <div class="row">
                        <div class='col-9'>
                            <div class="row">
                                <div class='col-5 mb-3'>
                                    <label for='search_id-input' class='form-label'>ID:</label>
                                    <input
                                        type='text'
                                        name='search_id'
                                        class='form-control'
                                        id='search_id-input'
                                        placeholder='123'
                                    />
                                </div>
                                <div class="col-3">
                                    <label for='search_supplier-input' class='form-label active'>Nhà sản xuất:</label>
                                    <input name='search_supplier' class="form-control" list="supplierOptions" id="search_supplier-input" placeholder="Samsung">
                                    <datalist id="supplierOptions"></datalist>
                                </div>
                                <div class='col-4 mb-3'>
                                    <label for='address-input' class='form-label'>Address:</label>
                                    <input
                                        type='text'
                                        name='search_address'
                                        class='form-control'
                                        id='address-input'
                                        placeholder='VD: Hà Nội'
                                    />
                                </div>
                                <div class='col-3 mb-3'>
                                    <label for='phone-input' class='form-label'>Phone number:</label>
                                    <input
                                        type='text'
                                        name='search_phone'
                                        class='form-control'
                                        id='phone-input'
                                        placeholder='VD: 0123456789'
                                    />
                                </div>
                            </div>
                            <div class="text-center">
                                <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
                            </div>
                        </div>
                        <div class='col-3  pt-4'>
                            <div class="card border-warning mb-3" style="max-width: 18rem;">
                                <h6 class="card-header text-warning">Chú ý</h6>
                                <div class="card-body text-warning">
                                    <p class="card-text"><strong>Chỉnh sửa</strong> và <strong>Xoá</strong> thông tin khách hàng ở bảng dưới</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{!-- Table --}}
                {{#if resultSearch}}
                    <small>
                    <table class='table table-hover text-center'>
                        <thead class="text-center text-uppercase">
                            <tr>
                                {{#each resultSearch.[0]}}
                                    <th>{{@key}}</th>
                                {{/each}}
                                    <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each resultSearch}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.age}}</td>
                                    <td>{{this.gender}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.address}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{moment this.created_at format='DD/MM/YYYY HH:mm:ss'}}</td>
                                    <td>{{moment this.updated_at format='DD/MM/YYYY HH:mm:ss'}}</td>

                                    <td>
                                        <div class="d-grid gap-2">
                                            <a href="/editsupplier/{{this.id}}" type="button" class="btn btn-primary btn-sm">Edit</a> 
                                            <a href="/deletesupplier/{{this.id}}" type="button" class="btn btn-danger btn-sm">Delete</a> 
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </small>                
                {{else}}
                    <p>No results found.</p>
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- Add supplier --}}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Add supplier</strong>
            </button>
        </h2>
        {{!-- Input --}}
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class='mt-4'>
                    <form method='POST' action='/addsupplier'>
                        <div class="row">
                            <div class='col-9'>
                                <div class="row">
                                    <div class='col-5 mb-3'>
                                        <label for='name-input' class='form-label'>Tên:</label>
                                        <input
                                            type='text'
                                            name='name'
                                            class='form-control'
                                            id='name-input'
                                            placeholder='VD: Nguyễn Văn A'
                                        />
                                    </div>
                                    <div class='col-3 mb-3'>
                                        <label for='age-input' class='form-label'>Tuổi:</label>
                                        <input
                                            type='text'
                                            name='age'
                                            class='form-control'
                                            id='age-input'
                                            placeholder='VD: 18'
                                        />
                                    </div>
                                    <div class='col-4 mb-3'>
                                        <label for='genderSelect' class='form-label'>Giới tính:</label>
                                        <select id="genderSelect" name="gender" class="form-select">
                                            <option selected>Choose Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class='col-5 mb-3'>
                                        <label for='email-input' class='form-label'>Email:</label>
                                        <input
                                            type='text'
                                            name='email'
                                            class='form-control'
                                            id='email-input'
                                            placeholder='VD: supplier@example.com'
                                        />
                                    </div>
                                    <div class='col-4 mb-3'>
                                        <label for='address-input' class='form-label'>Address:</label>
                                        <input
                                            type='text'
                                            name='address'
                                            class='form-control'
                                            id='address-input'
                                            placeholder='VD: Hà Nội'
                                        />
                                    </div>
                                    <div class='col-3 mb-3'>
                                        <label for='phone-input' class='form-label'>Phone number:</label>
                                        <input
                                            type='text'
                                            name='phone'
                                            class='form-control'
                                            id='phone-input'
                                            placeholder='VD: 0123456789'
                                        />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type='submit' class='btn btn-primary'>Thêm dữ liệu</button>
                                </div>
                            </div>
                            <div class='col-3  pt-4'>
                                <div class="card border-warning mb-3" style="max-width: 18rem;">
                                    <h6 class="card-header text-warning">Chú ý</h6>
                                    <div class="card-body text-warning">
                                        <p class="card-text">Điền đầy thông tin trường "Tên" và trường "Email"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    {{!-- Table of supplier --}}
    <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <strong>supplier Info</strong>
        </button>
    </h2>
    {{!-- Table --}}
    <div id="collapseTwo" class="accordion-collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class='mt-4'>
                <table class='table table-hover'>
                    <thead class="text-center">
                        <tr>
                            {{#each allsuppliers.[0]}}
                                <th>{{@key}}</th>
                            {{/each}}
                        </tr>
                    </thead>

                    <tbody>
                        {{#each allsuppliers}}
                            <tr>
                                {{#each this}}
                                    <td>{{this}}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy danh sách nhà sản xuất
        fetch('/getsupplier')
        .then(response => response.json())
        .then(data => {
            const supplierDatalist = document.getElementById('supplierOptions');
            supplierDatalist.innerHTML = ''; 
            data.forEach(supplier => {
                const option = document.createElement('option');
                option.value = supplier.name;
                supplierDatalist.appendChild(option);
            });
        })
        .catch(error => console.error('Lỗi khi lấy danh sách nhà sản xuất:', error));
    });
</script>





