<h1>TEST</h1>
{{#each products}}
<div class='container mt-1 my-3'>
    <div class='d-flex justify-content-center row'>
        <div class='col-md-12'>
            <div class='row p-2 border rounded'>
                <div class='col-md-3 mt-1 '>
                    <div class='row'>
                        <div class='col-md-6 align-items-center align-content-center' >
                            <div class='text-secondary'>#{{this.id}}</div>
                            <div class='text-primary'><small>{{this.quantity}} sản phẩm</small></div>
                        </div>
                        <div class='col-md-6 border-start'>
                            <img
                                class='img-fluid img-responsive'
                                src='{{this.image}}'
                            />
                        </div>
                    </div>
                </div>
                <div class='align-content-center col-md-4 mt-1'>
                    <h5>{{this.name}}</h5>
                    <div class='d-flex flex-row align-items-center'>
                        <div class='text-danger me-2'><b>{{this.price}}₫</b></div>
                        <div class='text-secondary'><small><s
                                >33.990.000₫</s></small></div>
                    </div>
                    <div class='text-secondary'><small>Nhà sản xuất: {{this.supplier_id}}</small></div>
                    <div class='text-secondary'><small>Năm sản xuất: {{moment this.mgf format='DD/MM/YYYY'}}</small></div>
                </div>
                <div class='align-items-center align-content-center col-md-3 mt-1 border-start' >
                    <div class='text-secondary'><small>{{this.description}}</small></div>
                </div>
                <div class='align-items-center align-content-center col-md-2 border-start'>
                    <a
                        href='#'
                        class='btn btn-sm btn-primary my-2'
                        style='width: 100%'
                    >Edit</a>
                    <a
                        href='#'
                        class='btn btn-sm btn-outline-danger'
                        style='width: 100%'
                    >Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}